<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>

              <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="squiggle">
          <li><a href="http://www.stephaniekwak.com">stephaniekwak.com</a></li>
          <li><a href="https://www.twitter.com/kwakstop">@kwakstop</a></li>
          <li><a href="https://www.github.com/skwak">GitHub</a></li>
          <li><a href="https://www.linkedin.com/pub/stephanie-kwak/65/168/8b4">LinkedIn</a></li>
        </ul>
      </div>

    </div>

  </div>

</footer>
