<li>
	<span class="pub-title">
		{% if include.pub.pdf %}
			<a href="../papers/{{ include.pub.pdf }}.pdf">{{ include.pub.title }}</a>
		{% else %}
			{{ include.pub.title }}
		{% endif %}
	</span>.<br>
	{{ include.pub.authors }}. <em>{{ include.pub.journal }}</em> {{ include.pub.volume }} ({{ include.pub.year }}) {{ include.pub.pages }}. 
	{% if include.pub.doi %}
		DOI: <a href="https://doi.org/{{ include.pub.doi }}">{{ include.pub.doi }}</a>
	{% endif %}<br>
	<span class="pub-meta">
		{% if include.pub.doi %}
			Published: {{ include.pub.published }}
		{% else %}
			Accepted
	</span>
</li>